/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 1em sans-serif;
    color: #555;
}

ul, nav {
    list-style: none;
}


/* HEADER STYLES */

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}

header button {
    margin-right: 10px;
    padding: 15px 20px;
    border: none;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    color: white;
}

header button:last-child {
    margin-left: 40px;
    margin-right: 20vw;
    background-color: #00c1c1;
}

.fa-shopping-cart {
    margin: 0 10px;
}

.fa-angle-down {
    margin: 0 10px 0 5px;
}

/* MAIN STYLES */

.hero {
    /* Photo by Kaci Baum on Unsplash */
    background-image: url("Assets/Media/kaci-baum-108756.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}