/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    font: normal 1em sans-serif;
    color: #555;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

ul, nav {
    list-style: none;
}

hr {
    height: 2px;
    width: 90vw;
    background-color: #00c1c1;
    border: 0;
    margin: 30px auto 10px auto;
    opacity: 0.6;
}

/* HEADER STYLES */

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}

header button {
    margin-right: 10px;
    padding: 15px 20px;
    border: none;
    background-color: black;
    font-weight: bold;
    font-size: 0.7em;
    color: white;
    opacity: 0.8;
}

header button:hover {
    color: #00c1c1;
    cursor: pointer;
    opacity: 1;
}

header button:last-child {
    margin-left: 40px;
    margin-right: 20vw;
    background-color: #00c1c1;
    opacity: 1;
}
header button:last-child:hover {
    opacity: 1;
    color: white;
}

.fa-shopping-cart {
    margin: 0 10px;
}

.fa-angle-down {
    margin: 0 10px 0 5px;
}

/* HERO STYLES */

.hero {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: #94b6d0; 
    background-image: url("Assets/Media/kaci-baum-108756.jpg"); 
    background-size: 100vw 67vw;
    background-repeat: no-repeat;
    background-position-y: -180px;
    opacity: 0;
    animation: 2s slidefade 0.5s forwards;
}

.hero nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 80px;
}

.hero h1 {
    align-self: flex-start;
    color: black;
}

.hero .button-container {
    align-self: flex-end;
}

.hero .button-container button {
    color: black;
    background: transparent;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.6;
}

.hero .button-container button:hover {
    color: #00c1c1;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    opacity: 1;
}

.hero .floating-text {
    font-size: 15em;
    font-weight: bold;
    color: #4d4749;
    text-align: center;
    letter-spacing: 100px;
    padding-left: 100px;
    width: 80vw;
    opacity: 0;
    margin: 150px auto 0 auto;
    animation: 1.5s slidefade 1s forwards;
}
@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0 auto;
    }
}

.hero .collection {
    align-self: flex-end;
    border: 1px solid black;
    background-color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 15px 25px;
    margin: 0 100px 70px 0;
    opacity: 0;
    animation: 1s fadein 2s forwards;
}
@keyframes fadein {
    100% {
        opacity: 1;
    }
}

/* STORE STYLES */

.store {
    width: 90vw;
    margin: 0 auto;
}

.store nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.store button {
    color: black;
    background: transparent;
    border: none;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.store button:hover {
    color: #00c1c1;
    cursor: pointer;
}

.store .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.store .gallery .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
    align-content: flex-start;
}

.store .gallery li {
    background-color: gray;
    padding: 10px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.store .gallery li.small {
    flex-basis: 50%;
    height: 250px;
}

.store .gallery li.large {
    flex-basis: 100%;
    height: 400px;
}

/* LOOKBOOK STYLES */

.lookbook {
    margin: 30px auto 50px auto;
    width: 95%;
}

.lookbook ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.lookbook ul li {
    background-color: gray;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    flex-basis: 32%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.lookbook ul li .text-container {
    height: 80%;
    width: 50%;
    background-color: white;
}

.lookbook ul li .text-container h2 {
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 10px 10px 0;
}
.lookbook ul li .text-container h2 .bold {
    font-weight: 700;
}

.lookbook ul li .text-container p {
    font-family: "Roboto", sans-serif;
    font-size: 0.7em;
    margin-right: 10px;
}

.lookbook ul li .text-container button {
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    color: black;
    margin: 20px 10px;
}

.lookbook ul li .text-container button:hover {
    background-color: #00c1c1;
    border: 1px solid white;
    color: white;
}